<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users page</title>
</head>
<body>
<h1>Users List</h1>
<hr>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td><a th:href="@{/users/{id}/edit-user(id=${user.getId})}" input type="submit" th:value="update">update</a></td>
        <td><a th:href="@{/users/{id}/delete(id=${user.getId()})}">Delete</a></td>
    </tr>
</table>
<hr>

<a href="/users/add-user">Add new User</a>

</body>
</html>